.MuiAppBar-colorPrimary {
  background-color: #2874f0;
}

.paginationCotainer {
  padding: 10px 20px !important;
}

.price-range-container {
  margin-bottom: 20px !important;
  text-align: left;
  padding: 0 14px;
}
